<div class="input-group mb-3 hollar-dollar">
  <div class="input-group-prepend">
    <span class="input-group-text">$</span>
  </div>
  <input
    type="number"
    class="form-control"
    #jonathan
    (keyup)="billAmountUnpdated(jonathan.valueAsNumber)"
    aria-label="Dollar amount (with dot and two decimal places)"
    id="billAmount"
    placeholder="0.00"
  />
</div>
<div class="btn-group" role="group" aria-label="Basic example">
  <button
    type="button"
    (click)="changeTipPercentageTo(0.1)"
    [disabled]="tipPercentage === 0.1"
    class="btn btn-secondary"
  >
    10%
  </button>
  <button
    type="button"
    (click)="changeTipPercentageTo(0.15)"
    [disabled]="tipPercentage === 0.15"
    class="btn btn-secondary"
  >
    15%
  </button>
  <button
    type="button"
    (click)="changeTipPercentageTo(0.2)"
    [disabled]="tipPercentage === 0.2"
    class="btn btn-secondary"
  >
    20%
  </button>
</div>

<p class="you-tippin">You are tipping: <span id="percentTip">0.00</span></p>

<ul class="list-group results">
  <li class="list-group-item">
    Bill Amount: <span id="li-billAmount">{{ billAmount | currency }}</span>
  </li>
  <li class="list-group-item">
    Tip Percentage:
    <span id="li-tipPercentage">{{ tipPercentage | percent }}</span>
  </li>
  <li class="list-group-item">
    Amount of Tip:
    <span id="li-amountOfTip">{{ billAmount * tipPercentage | currency }}</span>
  </li>
  <li class="list-group-item">
    Total to be Paid:
    <span id="li-totalToBePaid"
      >{{ billAmount + billAmount * tipPercentage | currency }}
    </span>
  </li>
</ul>
