<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link"
       [routerLinkActive]="['active', 'pretty']"
       [routerLink]="['dashboard']">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       [routerLinkActive]="['active', 'pretty']"
       [routerLink]="['tip']">Calculator</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       [routerLinkActive]="['active', 'pretty']"
       [routerLink]="['communications']">Communications</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       [routerLinkActive]="['active', 'pretty']"
       [routerLink]="['counter']">Counter</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       [routerLinkActive]="['active', 'pretty']"
       [routerLink]="['shopping']">Shopping</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       [routerLinkActive]="['active', 'pretty']"
       [routerLink]="['books']">Booksing</a>
  </li>
</ul>
